.fields-group {
  margin-bottom: 40px;
  .title {
    margin-bottom: 10px;
    button {
      vertical-align: middle;
    }
    span {
      margin-right: 10px;
    }
  }
  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &-label {
      margin-right: 20px;
    }
    &-name {
      color: green;
      font-weight: 700;
      margin-right: 20px;
    }
    &-type {
      color: red;
      font-style: italic;
      margin-right: 20px;
    }
  }

  &__controls {
    display: flex;
    & > div {
      margin-right: 20px;
    }
  }
}
