.title {
  &_size {
    &_h1 {
      font-size: 32px;
      font-weight: 200;
      margin-bottom: 40px;
    }
    &_h2 {
      font-size: 18px;
      margin-bottom: 30px;
    }
    &_h3 {
      font-size: 16px;
      margin-bottom: 25px;
    }
    &_h4 {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &_h5 {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
}
