.output {
  &__list-item {
    display: flex;
    margin-bottom: 20px;
    &-id {
      margin-right: 20px;
    }
    &-name {
      color: green;
      font-weight: 700;
      margin-right: 20px;
    }
    &-type {
      color: red;
      font-style: italic;
      margin-right: 20px;
    }
  }
}
