.login-page-root {
  width: 306px;
  margin: 0 auto
  padding-top: 120px;
  display block

  .error-login-data {
    color: rgb(244, 67, 54);
    text-align: center
  }
  
  .login-h1 {
    font-size 24px
    text-transform uppercase
    font-family Arial
    text-align center
    margin-bottom 30px
    letter-spacing 10px
    line-height 1.5
  }
  .copyright {
    margin-top 30px
    text-align center
    font-size 12px
    color rgba(0,0,0,0.2)
    font-family Arial
  }
  .copyright-link {
    color rgba(0,0,0,0.2)
    transition color 0.2s
    text-decoration none
    
    &:hover {
      color rgba(0,0,0,0.4)
    }
  }
  
  .login-logo {
    margin-bottom 40px

    img {
      display block
      max-width 120px
      margin auto
    }
  }
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  // -webkit-text-fill-color: #ссс;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset
  transition: background-color 5000s ease-in-out 0s
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%)
}
