.grid-col {
  padding: 50px 10px;
  border: 1px dotted rgba(0,0,0, 0.1);
  position: relative;
  min-height: 100px;
  box-sizing: border-box;
  width: 100%;

  &__add-button {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100% !important;
  }

  &__slider {
    position: absolute;
    width: 66px;
    top: 0;
    left: 0px;
  }

  &__block {
    position: relative;
    padding-top: 40px
  }
  &__block-controls {
    position: absolute;
    top: 0;
    right: -10px;
  }

}
