.rich-edotir {
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
  &__label {
    line-height: 22px;
    font-size: 12px;
    user-select: none;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
  &__add-block-button {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
  }
  margin-bottom: 30px;
  h5 {
    margin-left: 16px;
  }
  &__block {
    padding-top: 40px;
    position: relative;
  }
  &__controls {
    position: absolute;
    top: 0;
    right: -16px;
  }
}
