.page {
  margin-bottom: 250px;
  font-family: Helvetica;
  display: flex;

  &__content {
    margin-top: 17px;
    margin-right: 29px;
    margin-left: 20px;
    padding: 20px;
    width: 100%;
    max-width: 960px;
    /* background: white; */

    .title_size_h1,
    .title_size_h2 {
      padding-left: 16px;
    }

    .title_size_h2 {
      color: gray1;
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

html,
body,
#app {
  height: 100%;
}
html {
  color: black;
  /* background: #F1F1F1; */
}
